python_telegram_bot==7.0.1
twython==3.6.0
tweepy==3.6.0
colored==1.3.5
Pygments==2.1
pygsheets==1.1.4
thespian==3.9.2
Pykka==1.2.1
selenium==3.8.1
coloredlogs==9.0
pandas==0.17.1
beautifulsoup4==4.6.3
configparser==3.5.0
oauth2client==4.1.3
